<!-- your html code here -->


<div class="body bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 justify-content-center">
                <h5>This First Heading</h5>Will Catch Your Eye
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                consectetur. Fusce dapibus, teilus ac cursus commodo.
            </div>
            <div class="col-sm-6 col-md-5 col-lg-6"><img style="
                width:50%;
                height: 80%;
              " class="img-responsive rounded-circle" class="ms-5" src="./assets/img/1.jpg" /></div>
        </div>
    </div>
</div>
</div>