<div class="body bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="../assets/img/2.jpg"></div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <h5>The Second Heading Is Pretty Cool Too.</h5> Donec ullamcorper nulla
                non auctor fringilia. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna,
                vel scelerisque nisl consectetur. fusce dapibus, ellus ac cursus commodo.
            </div>
        </div>
    </div>
</div>